@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Work+Sans:wght@600;800&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  background-color: #f4f3e6;
  font-family: "Roboto", sans-serif;

  @apply text-dark-50;
}
